<%- messages() %>
    <div>
        <a href="/account/course">Edit Schedule</a>
    </div>
    
    <div class="calendar">
        <div class="day" id="mon">
            <h2>Monday</h2>
            <div class="events">
            <div id="m4a" class="hour" data-hour="4 AM"></div>
            <div id="m5a" class="hour" data-hour="5 AM"></div>
            <div id="m6a" class="hour" data-hour="6 AM"></div>
            <div id="m7a" class="hour" data-hour="7 AM"></div>
            <div id="m8a" class="hour" data-hour="8 AM"></div>
            <div id="m9a" class="hour" data-hour="9 AM"></div>
            <div id="m10a" class="hour" data-hour="10 AM"></div>
            <div id="m11a" class="hour" data-hour="11 AM"></div>
            <div id="m12p" class="hour" data-hour="12 PM"></div>
            <div id="m1p" class="hour" data-hour="1 PM"></div>
            <div id="m2p" class="hour" data-hour="2 PM"></div>
            <div id="m3p" class="hour" data-hour="3 PM"></div>
            <div id="m4p" class="hour" data-hour="4 PM"></div>
            <div id="m5p" class="hour" data-hour="5 PM"></div>
            <div id="m6p" class="hour" data-hour="6 PM"></div>
            <div id="m7p" class="hour" data-hour="7 PM"></div>
            <div id="m8p" class="hour" data-hour="8 PM"></div>
            <div id="m9p" class="hour" data-hour="9 PM"></div>
            <div id="m10p" class="hour" data-hour="10 PM"></div>
            <div id="m11p" class="hour" data-hour="11 PM"></div>
            <div id="m12a" class="hour" data-hour="12 AM"></div>
            <div id="m1a" class="hour" data-hour="1 AM"></div>
            </div>
        </div>
        <div class="day" id="tue">
            <h2>Tuesday</h2>
            <div class="events">
                <div id="tu4a" class="hour" data-hour="4 AM"></div>
                <div id="tu5a" class="hour" data-hour="5 AM"></div>
                <div id="tu6a" class="hour" data-hour="6 AM"></div>
                <div id="tu7a" class="hour" data-hour="7 AM"></div>
                <div id="tu8a" class="hour" data-hour="8 AM"></div>
                <div id="tu9a" class="hour" data-hour="9 AM"></div>
                <div id="tu10a" class="hour" data-hour="10 AM"></div>
                <div id="tu11a" class="hour" data-hour="11 AM"></div>
                <div id="tu12p" class="hour" data-hour="12 PM"></div>
                <div id="tu1p" class="hour" data-hour="1 PM"></div>
                <div id="tu2p" class="hour" data-hour="2 PM"></div>
                <div id="tu3p" class="hour" data-hour="3 PM"></div>
                <div id="tu4p" class="hour" data-hour="4 PM"></div>
                <div id="tu5p" class="hour" data-hour="5 PM"></div>
                <div id="tu6p" class="hour" data-hour="6 PM"></div>
                <div id="tu7p" class="hour" data-hour="7 PM"></div>
                <div id="tu8p" class="hour" data-hour="8 PM"></div>
                <div id="tu9p" class="hour" data-hour="9 PM"></div>
                <div id="tu10p" class="hour" data-hour="10 PM"></div>
                <div id="tu11p" class="hour" data-hour="11 PM"></div>
                <div id="tu12a" class="hour" data-hour="12 AM"></div>
                <div id="tu1a" class="hour" data-hour="1 AM"></div>
            </div>
        </div>
        <div class="day" id="wed">
            <h2>Wednesday</h2>
            <div class="events">
                <div id="w4a" class="hour" data-hour="4 AM"></div>
                <div id="w5a" class="hour" data-hour="5 AM"></div>
                <div id="w6a" class="hour" data-hour="6 AM"></div>
                <div id="w7a" class="hour" data-hour="7 AM"></div>
                <div id="w8a" class="hour" data-hour="8 AM"></div>
                <div id="w9a" class="hour" data-hour="9 AM"></div>
                <div id="w10a" class="hour" data-hour="10 AM"></div>
                <div id="w11a" class="hour" data-hour="11 AM"></div>
                <div id="w12p" class="hour" data-hour="12 PM"></div>
                <div id="w1p" class="hour" data-hour="1 PM"></div>
                <div id="w2p" class="hour" data-hour="2 PM"></div>
                <div id="w3p" class="hour" data-hour="3 PM"></div>
                <div id="w4p" class="hour" data-hour="4 PM"></div>
                <div id="w5p" class="hour" data-hour="5 PM"></div>
                <div id="w6p" class="hour" data-hour="6 PM"></div>
                <div id="w7p" class="hour" data-hour="7 PM"></div>
                <div id="w8p" class="hour" data-hour="8 PM"></div>
                <div id="w9p" class="hour" data-hour="9 PM"></div>
                <div id="w10p" class="hour" data-hour="10 PM"></div>
                <div id="w11p" class="hour" data-hour="11 PM"></div>
                <div id="w12a" class="hour" data-hour="12 AM"></div>
                <div id="w1a" class="hour" data-hour="1 AM"></div>
            </div>
        </div>
        <div class="day" id="thurs">
            <h2>Thursday</h2>
            <div class="events">
                <div id="th4a" class="hour" data-hour="4 AM"></div>
                <div id="th5a" class="hour" data-hour="5 AM"></div>
                <div id="th6a" class="hour" data-hour="6 AM"></div>
                <div id="th7a" class="hour" data-hour="7 AM"></div>
                <div id="th8a" class="hour" data-hour="8 AM"></div>
                <div id="th9a" class="hour" data-hour="9 AM"></div>
                <div id="th10a" class="hour" data-hour="10 AM"></div>
                <div id="th11a" class="hour" data-hour="11 AM"></div>
                <div id="th12p" class="hour" data-hour="12 PM"></div>
                <div id="th1p" class="hour" data-hour="1 PM"></div>
                <div id="th2p" class="hour" data-hour="2 PM"></div>
                <div id="th3p" class="hour" data-hour="3 PM"></div>
                <div id="th4p" class="hour" data-hour="4 PM"></div>
                <div id="th5p" class="hour" data-hour="5 PM"></div>
                <div id="th6p" class="hour" data-hour="6 PM"></div>
                <div id="th7p" class="hour" data-hour="7 PM"></div>
                <div id="th8p" class="hour" data-hour="8 PM"></div>
                <div id="th9p" class="hour" data-hour="9 PM"></div>
                <div id="th10p" class="hour" data-hour="10 PM"></div>
                <div id="th11p" class="hour" data-hour="11 PM"></div>
                <div id="th12a" class="hour" data-hour="12 AM"></div>
                <div id="th1a" class="hour" data-hour="1 AM"></div>
            </div>
        </div>
        <div class="day" id="fri">
            <h2>Friday</h2>
            <div class="events">
                <div id="f4a" class="hour" data-hour="4 AM"></div>
                <div id="f5a" class="hour" data-hour="5 AM"></div>
                <div id="f6a" class="hour" data-hour="6 AM"></div>
                <div id="f7a" class="hour" data-hour="7 AM"></div>
                <div id="f8a" class="hour" data-hour="8 AM"></div>
                <div id="f9a" class="hour" data-hour="9 AM"></div>
                <div id="f10a" class="hour" data-hour="10 AM"></div>
                <div id="f11a" class="hour" data-hour="11 AM"></div>
                <div id="f12p" class="hour" data-hour="12 PM"></div>
                <div id="f1p" class="hour" data-hour="1 PM"></div>
                <div id="f2p" class="hour" data-hour="2 PM"></div>
                <div id="f3p" class="hour" data-hour="3 PM"></div>
                <div id="f4p" class="hour" data-hour="4 PM"></div>
                <div id="f5p" class="hour" data-hour="5 PM"></div>
                <div id="f6p" class="hour" data-hour="6 PM"></div>
                <div id="f7p" class="hour" data-hour="7 PM"></div>
                <div id="f8p" class="hour" data-hour="8 PM"></div>
                <div id="f9p" class="hour" data-hour="9 PM"></div>
                <div id="f10p" class="hour" data-hour="10 PM"></div>
                <div id="f11p" class="hour" data-hour="11 PM"></div>
                <div id="f12a" class="hour" data-hour="12 AM"></div>
                <div id="f1a" class="hour" data-hour="1 AM"></div>
            </div>
        </div>
        <div class="day" id="sat">
            <h2>Saturday</h2>
            <div class="events">
                <div id="sa4a" class="hour" data-hour="4 AM"></div>
                <div id="sa5a" class="hour" data-hour="5 AM"></div>
                <div id="sa6a" class="hour" data-hour="6 AM"></div>
                <div id="sa7a" class="hour" data-hour="7 AM"></div>
                <div id="sa8a" class="hour" data-hour="8 AM"></div>
                <div id="sa9a" class="hour" data-hour="9 AM"></div>
                <div id="sa10a" class="hour" data-hour="10 AM"></div>
                <div id="sa11a" class="hour" data-hour="11 AM"></div>
                <div id="sa12a" class="hour" data-hour="12 PM"></div>
                <div id="sa1p" class="hour" data-hour="1 PM"></div>
                <div id="sa2p" class="hour" data-hour="2 PM"></div>
                <div id="sa3p" class="hour" data-hour="3 PM"></div>
                <div id="sa4p" class="hour" data-hour="4 PM"></div>
                <div id="sa5p" class="hour" data-hour="5 PM"></div>
                <div id="sa6p" class="hour" data-hour="6 PM"></div>
                <div id="sa7p" class="hour" data-hour="7 PM"></div>
                <div id="sa8p" class="hour" data-hour="8 PM"></div>
                <div id="sa9p" class="hour" data-hour="9 PM"></div>
                <div id="sa10p" class="hour" data-hour="10 PM"></div>
                <div id="sa11p" class="hour" data-hour="11 PM"></div>
                <div id="sa12a" class="hour" data-hour="12 AM"></div>
                <div id="sa1a" class="hour" data-hour="1 AM"></div>
            </div>
        </div>
        <div class="day" id="sun">
            <h2>Sunday</h2>
            <div class="events">
                <div id="su4a" class="hour" data-hour="4 AM"></div>
                <div id="su5a" class="hour" data-hour="5 AM"></div>
                <div id="su6a" class="hour" data-hour="6 AM"></div>
                <div id="su7a" class="hour" data-hour="7 AM"></div>
                <div id="su8a" class="hour" data-hour="8 AM"></div>
                <div id="su9a" class="hour" data-hour="9 AM"></div>
                <div id="su10a" class="hour" data-hour="10 AM"></div>
                <div id="su11a" class="hour" data-hour="11 AM"></div>
                <div id="su12p" class="hour" data-hour="12 PM"></div>
                <div id="su1p" class="hour" data-hour="1 PM"></div>
                <div id="su2p" class="hour" data-hour="2 PM"></div>
                <div id="su3p" class="hour" data-hour="3 PM"></div>
                <div id="su4p" class="hour" data-hour="4 PM"></div>
                <div id="su5p" class="hour" data-hour="5 PM"></div>
                <div id="su6p" class="hour" data-hour="6 PM"></div>
                <div id="su7p" class="hour" data-hour="7 PM"></div>
                <div id="su8p" class="hour" data-hour="8 PM"></div>
                <div id="su9p" class="hour" data-hour="9 PM"></div>
                <div id="su10p" class="hour" data-hour="10 PM"></div>
                <div id="su11p" class="hour" data-hour="11 PM"></div>
                <div id="su12a" class="hour" data-hour="12 AM"></div>
                <div id="su1a" class="hour" data-hour="1 AM"></div>
            </div>
        </div>
    </div>

    <script>
 // Function to convert time in "4 AM", "12 PM" format to a Date object for easier comparison
function parseTime(timeString) {
    const timeParts = timeString.match(/(\d+):?(\d*)\s*(AM|PM)/i);  // Match the time and AM/PM part
    if (!timeParts) return null;  // If the time string format is invalid

    let hours = parseInt(timeParts[1], 10);
    const minutes = timeParts[2] ? parseInt(timeParts[2], 10) : 0;
    const meridian = timeParts[3].toUpperCase();

    // Convert 12 AM/PM to 24-hour time format
    if (meridian === 'PM' && hours < 12) {
        hours += 12;
    }
    if (meridian === 'AM' && hours === 12) {
        hours = 0;  // Midnight case
    }

    // Create a new date object and set the hours and minutes
    const date = new Date();
    date.setHours(hours, minutes, 0, 0);
    return date;
}

// Function to calculate how many hours a course spans
// Function to format a time in hh:mm:ss format to "h AM/PM"
function formatTimeTo12Hour(timeString) {
    const timeParts = timeString.split(':'); // Split into hours, minutes, and seconds
    let hours = parseInt(timeParts[0], 10);  // Parse the hours
    const minutes = parseInt(timeParts[1], 10);  // Parse the minutes (if needed)
    const seconds = parseInt(timeParts[2], 10);  // Parse the seconds (if needed)

    // Determine AM or PM
    const meridian = hours >= 12 ? 'PM' : 'AM';

    // Convert hours to 12-hour format
    hours = hours % 12 || 12;  // Converts "0" or "12" hours to "12"

    // Format as "h AM/PM"
    return `${hours} ${meridian}`;
}

// Function to calculate how many hours a course spans and convert the start time
function getCourseDurationInHours(startTime, lengthInHours) {
    // console.log("Start Time in hh:mm:ss:", startTime, "Length:", lengthInHours);

    // Convert start time (hh:mm:ss) to a 12-hour formatted string
    const formattedStartTime = formatTimeTo12Hour(startTime);
    
    // Parse the time to a Date object using the formatted 12-hour time
    const start = parseTime(formattedStartTime);
    const end = new Date(start.getTime() + lengthInHours * 60 * 60 * 1000); // Add course length in milliseconds

    return { start, end, formattedStartTime };  // Return formattedStartTime too for display
}


// Function to place the course info into the correct time slots
function placeCourse(schedule) {
    // Extract course details
    const { course_name, course_day_selection, course_start_time, course_length } = schedule;

    // Ensure course_day_selection is an array
    const days = Array.isArray(course_day_selection) ? course_day_selection : course_day_selection.split(',');

    // console.log(days);  // Verify days is now an array
    
    // Calculate the start and end times of the course
    const { start, end } = getCourseDurationInHours(course_start_time, course_length);

    // Iterate over the days the course is scheduled
    days.forEach(day => {
        const dayDiv = document.getElementById(day);  // Get the div for the day (e.g., "mon", "wed", "fri")
        // console.log(dayDiv);  // Log the div to see if it's found correctly

        if (!dayDiv) return;  // If the day div doesn't exist, skip

        // Find all hour slots in the current day's schedule
        const hourSlots = dayDiv.querySelectorAll('.hour');

        // console.log(hourSlots);  // Log hour slots to check the selection

        // Iterate through the hour slots and place the course in the correct ones
        hourSlots.forEach(slot => {
            const slotTime = parseTime(slot.getAttribute('data-hour'));  // Parse the slot's time
            // console.log(slotTime);  // Log the slot time

            // Check if the slot time is within the course's start and end time
            if (slotTime && slotTime >= start && slotTime < end) {
                // Insert course info into the time slot
                slot.innerHTML = `
                    <div class="course-info">
                        <p>${course_name}</p>
                        <p>Start Time: ${course_start_time}</p>
                        <p>Length: ${course_length} hours</p>
                    </div>
                `;
            }
        });
    });
}

// Example course data using EJS variables
const schedule = {
    course_name: "<%= schedule.course_name %>",  // Inject EJS variable
    course_day_selection: <%- JSON.stringify(schedule.course_day_selection) %>,  // Convert array to a JSON string
    course_start_time: "<%= schedule.course_start_time %>",  // Adjusted to "9 AM" format or dynamic value
    course_length: <%= schedule.course_length.hours %>,  // Injecting course length dynamically as a number
    study_length: <%= schedule.study_length.hours %>,  // Injecting study length dynamically
    assignment_name: "<%= schedule.assignment_name %>",  // Inject assignment name dynamically
    assignment_due_date: "<%= schedule.assignment_due_date %>"  // Inject assignment due date dynamically
};

// Call the function to place the course in the appropriate time slots
placeCourse(schedule);

</script>