<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Computing Society - <%- title %>">
    <meta name="author" content="Computing Team">
    <meta property="og:title" content="<%- title %> | Computing Society">
    <meta property="og:description" content="Computing Society - <%- title %>">
    <meta property="og:type" content="website">
    <meta name="robots" content="noindex, nofollow">
    <!-- <meta property="og:image" content="/images/site/logo.png"> -->
    <meta property="og:url" content="https://computingf24.onrender.com/<%- link %>">
    <title><%- title %> | Computing Society</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/larger.css">
    <script src="/js/hamburger-menu.js" defer></script>
    <!-- <link rel="shortcut icon" href="/images/site/favicon-32x32.png"> -->
</head>